#comments h2.blockTitle {
    cursor: pointer;
}
.comment.it_ix {
    line-height: initial;
    height: auto;
    color: var(--default_color);
    border: 0;
    text-align: initial;
}
.comment .actionsCmt .it_iv {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 11px;
    vertical-align: middle;
}
.comment.it_ix:hover .it_iv {
    opacity: 1;
    display: initial;
}
.it_iz { display:none; }
.comment.it_ix:hover .it_iz { display: inline-block; }
.comment .actionsCmt {
    display: flex;
    align-items: center;
    margin-top: -1px;
}
.comments {
    margin-bottom: 10px;
}
.comments .comment {
    animation: 1s ease 0s 1 normal forwards running backgroundFadeOut;
}
.comments .comment .comment-text {
    line-height: 15px;
    word-break: break-word;
    margin-left: 5px;
}
.comment .options-comment > a,
.comment .options-comment > button {
    vertical-align: 0px;
}
.comments .comment .mainTime,
.comments .comment .options-comment > button.btnToggleOptions,
.comments .comment .options-comment > span,
.comments .comment .options-comment > strong
{
    vertical-align: middle;
}
.comment .btnThumb:hover:nth-child(1) .SvgLikeStroke {
    stroke: var(--success);
}
.comment .btnThumb:hover:nth-child(2) .SvgLikeStroke {
    stroke: var(--danger);
}
.comment button.view-spoiler {
    color: var(--danger);
    margin-left: 5px;
    vertical-align: 0px;
}
.comment .toggleReplies {
    margin-top: 2px;
    margin-bottom: -3px;
}
.comment .toggleReplies .svgContainer {
    display: inline-flex;
    height: 16px;
    width: 16px;
}
.comment .thumb {
    margin-left: 5px;
}
.comment .thumbs.negative {
    color: var(--danger);
}
.comment .thumbs.positive {
    color: var(--success);
}
.comment .options-options .btnToggleOptions {
    margin-left: 4px;
}
.writing {
    border-top: 0px;
}
.writing textarea {
    overflow-x: hidden;
    overflow-wrap: break-word;
    width: 95%;
    display: inline;
}
.writing .sendComment {
    display: inline;
    transition: opacity 200ms ease 0s;
    vertical-align: middle;
}
.writing .mainTime {
    margin-top: 10px;
    margin-bottom: 0px;
}
.writing .mainTime .baliseSpoiler {
    cursor: pointer;
}
@media (max-width:330px) {
    .comment.it_ix .media-left { display: none; }
    .comment.it_ix .media-body { margin-left: 0;}
}
@media (max-width:424px) {
    .it_i3 { margin-left: 20px; }
    .it_i5 { margin-left: 40px; }
    .actionsCmt { flex-wrap: wrap; }
    .comment.it_ix img {
        width: 24px;
        height: 24px;
    }
    .comment.it_ix .stars { display: none; }
}
@media (min-width:425px) {
    .comment.it_ix { padding-right: 25px; }
    .it_i3 { margin-left: 40px; }
    .it_i5 { margin-left: 80px; }
    .actionsCmt {
        height: 24px;
        line-height: 24px;
    }
    .it_iv {
        opacity: 0;
        display: none;
    }
}
.popinWrapper .popin-content .title i.fa {
    cursor: pointer;
    margin-left: 5px;
    color: var(--default_color);
}
@keyframes backgroundFadeOut {
    0%  { background-color: rgba(193,225,250,.3) }
    80% { background-color: rgba(193,225,250,.3) }
    to  { background-color: transparent }
}
.gz_g1 { position:relative; }
.gz_g1 .form-control {
    padding-right: 30px;
    overflow: hidden;
}
.gz_g1 button {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 0;
    width: 16px;
    height: 16px;
}
.gz_g1 button[disabled] { cursor: inherit }
.gz_g1 button svg { position: relative; top: -1px; }
.loaderCmt .er_et {
    width: 100%;
    height: 185px;
    background-image: linear-gradient(-90deg, #f2f3f6, #edeef1 50%, #f2f3f6);
    background-size: 600px 104px;
    animation-name: er_ev;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform: translateZ(0);
    clip-path: url("#placeholder");
    -webkit-clip-path: url("#placeholder")
}
.loaderCmt .er_ex+.er_ex { margin-top: 9px; padding-top: 10px }
.loaderCmt .er_ez+.er_ez { border-top: 1px var(--gray_light) solid}
@keyframes er_ev {
    0% { background-position: -600px 0 }
    to { background-position: 600px 0 }
}

.evaluations {
    color: #565959!important;
}
.evaluations .size-base {
    font-size: 14px;
    line-height: 20px;
}
.evaluations .average {
    margin-bottom: 16px;
}
.evaluations table {
    margin-bottom: 0!important;
    border-collapse: collapse;
    width: 100%;
}
.evaluations table tr {
    color: #565959;
}
.evaluations table td {
    vertical-align: middle;
    padding: 7px 3px;
}
.evaluations table td.nowrap {
    white-space: nowrap;
    font-size: 14px!important;
    line-height: 20px!important;
}
.evaluations table td.span10 {
    width: 87.43%;
    float: none!important;
    margin-right: 0;
}
.evaluations table tr.histogram-row:first-child td {
    padding-top: 0;
}
.evaluations table tr.histogram-row td:first-child {
    padding-left: 0;
}
.evaluations table .meter {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px #E3E6E6;
    background-color: #F0F2F2;
    height: 20px;
}
.evaluations table .meter .meter-filled {
    border-radius: 4px;
    box-shadow: inset -2px 0 0 -1px #F5961D,inset 0 0 0 1px #DE7921;
    background-color: #FFA41C;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: inherit;
}